.sub {

vertical-align: sub;
font-size: 12px;

}

body {
	background-image: url("http://cdn.wallpapersafari.com/68/88/6S2ikH.jpg") !important;
	background: green;
	color: white !important;
	text-align: left;
	text-shadow: -3px 2px 3px rgba(0, 55, 53, 0.88);
}


.jumbotron {
	color: white !important;
	background-color: #891016 !important;
	border-radius: 20px;
	padding: 10px;
	
}

span.overline {
	text-decoration: overline !important;
}



.vanish {
	display: none;
	
}

.show {
	display: block;
	background-color: rgba(255, 255, 255, 0.4);
	color: #891016;
	font-weight: bolder;
	margin-right: 55%;
	padding: 10px;
	border-radius: 15px;
	text-shadow: none;
}



h3 {
	color: white !important;
	background-color: #891016 !important;
	border-radius: 20px;
	padding: 10px;
	margin-right: 80%;
	text-align: center;
}

strong {
	color: gold;
	font-size: 15pt;
}

td {
	border: white 2px solid;
	font-weight: bold;
	padding: 5px !important;
}

table {
	margin: auto auto;
	color: white !important;
	background-color: rgba(0, 55, 53, 0.3) !important;
	

}

.spread td {
	margin: 5px;
}

.conclusion {
	color:gold !important;	
}
